@{
    ViewData["Title"] = "User Management";
}

<div>
    <table id="userTable" class="table table-striped" style="width:100%">
        <thead>
            <tr>
                <th>Username</th>
                <th>Email</th>
                <th>Role</th>
                <th style="width:20%">Account Status</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in Model)
            {
                <tr>
                    <td>@user.UserName</td>
                    <td>@user.Email</td>
                    <td>@user.UserRole</td>
                    @if (!@user.IsEmailConfirmed)
                    {
                        <td style="width:20%">Email Unconfirmed</td>
                    }
                    @if (!@user.AccountStatus && @user.IsEmailConfirmed)
                    {
                        <td style="width:20%">Active</td>
                    }
                    @if (@user.AccountStatus && @user.IsEmailConfirmed)
                    {
                        <td style="width:20%">Inactive</td>
                    }
                    <td>
                        <div class="dropdown">
                            <button type="button" class="mb-2" style="background-color:transparent;border:none"
                                    data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="bi bi-three-dots-vertical text-dark" style="font-size: 20px;"></i>
                            </button>
                            <div class="dropdown-menu">
                                <form method="post">
                                    <button type="button" class="dropdown-item text-primary" onclick="window.location.href = '/app/admin/role?UserId=@user.Id&&UserRole=@user.UserRole&&UserName=@user.UserName'">Manage Role</button>
                                    @if (!@user.AccountStatus && @user.IsEmailConfirmed)
                                    {
                                        <button asp-route-Id="@user.Id" asp-page-handler="Block" class="dropdown-item text-primary">Block</button>
                                    }
                                    @if (@user.AccountStatus && @user.IsEmailConfirmed)
                                    {
                                        <button asp-route-Id="@user.Id" asp-page-handler="Unblock" class="dropdown-item text-primary">Unblock</button>
                                    }
                                </form>
                            </div>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $('#userTable').DataTable();
    });
</script>
